body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
	margin-top: 55px;
/*	background-color: gray;*/
}  

/* NAV */
nav{
	background-color: #022c43;
	position: fixed !important;
	z-index: 2000;
}
.navbar-nav .active a{
	color: #E8C918 !important;
}
.nav-link, .dropdown-menu .dropdown-item{
	color: white !important;
	font-family: 'PT Sans', sans-serif;
}
.nav-link:hover, .dropdown-menu .dropdown-item:hover{
	color: #E8C918 !important;
	background-color: #022c43;
}
ul .dropdown-menu{
	background-color: #022c43;
}
#nav-s{
	width: 250px;
	border-radius: 0;
	height: 35px;
	border-style: none;
	font-family: 'PT Sans', sans-serif;
}

#but-s{
	width: 45px;
	height: 35px;
	border-radius: 0;
	background-color: #022c43;
	border-style: none;
	border: solid lightgray 1px;
}
#but-s i{
	color: white;
}

#but-s:hover i{
	color: #E8C918;
}

/*Footer*/
footer{
	background-color: #022c43;
}

h6{
	color: white;
	font-family: 'PT Sans', sans-serif;
	text-align: center;
}

.redes{
	text-align: center;
}

footer p{
	color: white;
	font-family: 'PT Sans', sans-serif;
	color:  #E8C918;
	text-align: center;
	font-size: calc(.8rem + .2vw);
}

footer div .row div{
	text-align: center;
}

footer .container-fluid{
	text-align: center;
	background-color: #F4F4F4;
}

footer .container-fluid #aviso{
	font-size: x-small;
}

footer .container-fluid p{
	color:  #022c43;
}

/*MAIN*/
main h1{
	font-family: 'Fjalla One', sans-serif;
	text-align: center;
	color: #022c43;
	font-size: calc(1rem + 1vw);
}
main h2{
	font-family: 'PT Sans', sans-serif;
	font-size: calc(1rem + .3vw);
	color: #022c43;
}
main h3{
	font-family: 'PT Sans', sans-serif;
	font-size: calc(1rem + .2vw);
	text-align: center;
}


p{
	font-family: 'PT Sans', sans-serif;	
	text-align: justify;
	font-size: calc(1rem + .3vw);
}

/*INDEX*/
.banner{
	width: 100%;
	background-image: url(../img/b4.jpg);
	background-size: cover;
}
.banner h1{
	text-align: left;
	font-size: calc(1.5rem + 1vw);
}
#h2banner{
	width: 60vw;
}
.banner div a button{
	font-size: calc(1rem + .3vw);
	font-family: 'PT Sans', sans-serif;
	border-radius: 0;
	background-color:  #E8C918;
	color: #022c43;
}
	/*slides*/

/*cards*/
.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

main .card-title{
	text-align: center;
	font-family: 'PT Sans', sans-serif;
	font-size: calc(1.2em + .3vw);
	font-weight: bolder;
}

.show{
	margin-left: 20px;
}

.card-car .card-text{
	font-size: calc(.8em + .3vw);
	font-family: 'PT Sans', sans-serif;
	text-align: left;
}

.card-car .card-text span{
	font-size: calc(.8em + .3vw);
	font-weight: bolder;
}
.card-link:hover{
	text-decoration: underline;
}
.card-link i:hover{
	text-decoration: underline;
}
.card .card-reveal{   
	padding: 20px;
    position: absolute;
    width: 100%;
    overflow-y: auto;
    left:0;
    bottom:12%;
    height: 89%;
    z-index: 1;
    display: none;    
}

.card-body{
	padding-bottom: 0;
	
}

.card-footer{
	background-color: white;
	height: 7%;
}






